body{
    font-family: 'Sarabun', sans-serif;
    margin: 0;

    #bg{
        clip-path: polygon(100% 0, 100% 82%, 45% 100%, 0 100%, 0 0);
        background-color:color(primary);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;

        @include desktop{
            clip-path: polygon(0 0, 75% 0, 55% 100%, 0% 100%);
        }
    }
    header a {
        color: #ffffff;
        text-decoration: none;
        padding: $paddding;
        display: block;
        text-transform: uppercase;
        @include desktop{
            margin-left: 7em;
        }
    }
}