#product-features{
    .title{
        margin:3rem $paddings 1rem $paddings;
        text-align: center;
    }
    #f-body{
        @include medium{
            display: flex;
            flex-wrap: wrap;
            
            padding-left:$paddings*1.5;
            
        }
        @include medium-bg{
            padding-left:$paddings*2;
        }
        @include desktop{
            margin:50px $padding-desktop ;
            flex: nowrap;
           
            padding: 0;
            
        }
        
        div.feature{
            text-align:center;
            margin: 2.5rem auto;
            width: 55%;
           
            height: 300px;
            box-shadow:  0 5px 15px rgba(0, 0, 0, .2);
            
            @include medium{
                width: 40%;
                margin: 20px 20px ;   
            }
            @include medium-bg{
                width: 28%;
                margin: 15px 15px;

                &:last-child{
                    margin-left: 280px ;
                }
            }
            @include desktop{
                width: 250px;
                margin: 10px;

                &:last-child{
                    margin-left: 10px;
                }
            }
    
            div{
                
                margin: 0 20px;
                
                img{
                    
                    margin: 40px 0 0 0;
                }
                h3{
                    margin: 20px 0 0 0;
                }
                p{
                    font-size: 18px;
                    opacity: 0.7;
                }
            }
        }
    }
    
}
